body {
 font-family: arial, sans-serif;
 background-color: white;
 background-image: url("/www/images/clusaz.png");
  background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 
 
}
.contenu {
  width :1150px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.logo {
  height: 120px;
}
.slogan {
  color: white;
  font-size: 56px;
  line-height: 64px;
  font-weight: bold;
  width: 900px;
 }
