body {
 font-family:arial, sans-serif;
}
.bandeau {
  background-image: url("https://clusazvraietransition.github.io/www/images/clusaz.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reste {
transition: opacity .4s ease;
}
.slogan {
  color: white;
  font-size: 56px;
  line-height: 64px;
  font-weight: bold;
 }
