<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - {{site.nom}}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/main.css" >
    </head>    
    <body>
        <div class="contenu">
          <div class="bandeau">
            <div class="logo">
               <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/logo.png" alt="{{site.nom}}"/></a>
            </div>
            <div class="slogan"><h1>{{ page.slogan }}</h1></div>
            <div class="espace"></div>
            <div class="video">
                <h1 style="text-align: center;">LE BETON ET LES CANONS <span style="font-size: 28px;">à neige</span>
            </div>
         </div>
